* {
  font-family: "ivysoft-variable", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #8daf52;
  color: #faf5ee;
}

section {
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  width: 50vw;
  background-color: #faf5ee;
  color: #577136;
  font-size: 1.2em;
  font-variation-settings: "slnt" 0, "wght" 400;
}

h1 {
  font-size: 2.3rem;
  margin: 5px;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 10px 30px 10px;
}

h1,
h2 {
  text-align: center;
}

ul li {
  margin: 10px;
}
